.container {
    width: 1140px;
    margin: 0 auto;
    justify-items: center;
}
.section_area_grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.section {
    float: left;
}
.asid {
    float: right;
}
.Table, tr, td, th {
    border-collapse: collapse;
    border: 1px solid black;
}
.section_result_display {
    text-align: center;
    border: 2px solid violet;
}